---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro'
import HeroSection from '../components/HeroSection.astro'
import WeddingSection from '../components/WeddingSection.astro'
import VenueSection from '../components/VenueSection.astro'
import ItinerarySection from '../components/ItinerarySection.astro';
import GiftsSection from '../components/GiftsSection.astro'
import DressCode from '../components/DessCode.astro'
import Rsvp from '../components/Rsvp.astro'
import AboutUs from '../components/AboutUs.astro';
import Footer from '../components/Footer.astro'

---

<Layout title="Jack & Yeldy Wedding">
	<Navbar />
	<main class="relative w-full h-screen overflow-auto overflow-x-hidden snap-y snap-mandatory">
		<div class="snap-center">
			<HeroSection />
		</div>
		<div class="snap-center">
			<WeddingSection />
		</div>
		<div class="snap-center">
			<VenueSection />
		</div>
		<div class="snap-center">
			<ItinerarySection />
		</div>
		<div class="snap-center">
			<GiftsSection />
		</div>
		<div class="snap-center">
			<DressCode />
		</div>
		<div class="snap-center">
			<Rsvp />
		</div>
		<div class="snap-center">
			<AboutUs />
		</div>
		<div class="snap-center">
			<Footer />
		</div>
	</main>
</Layout>


