---
import Layout from '../layouts/Layout.astro';

import Navbar from '../components/Navbar.astro'
import HeroSection from '../components/HeroSection.astro'
import WeddingSection from '../components/WeddingSection.astro'
import RecepCer from '../components/RecepCer.astro'
import DressCode from '../components/DessCode.astro'
import Rsvp from '../components/Rsvp.astro'
import Information from '../components/Information.astro'
import Picture from '../components/Picture.astro'
import Footer from '../components/Footer.astro'

---

<Layout title="Jack & Yeldy Wedding">
	<Navbar />
	<main class="relative w-full h-screen overflow-auto overflow-x-hidden snap-y snap-mandatory">
		<div class="snap-center">
			<HeroSection />
		</div>
		<div class="snap-center">
			<WeddingSection />
		</div>
		<!-- <RecepCer />
		<DressCode />
		<Rsvp />
		<Information />
		<Picture />
		<Footer /> -->
	</main>
</Layout>
