---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="about" class="bg-white h-screen w-screen overflow-hidden flex justify-center">

    <div class="flex flex-col lg:flex-row items-center justify-evenly lg:gap-20">

        <div class="text-center flex flex-col gap-20">

            <div>
                <h2 class="font-semibold text-4xl lg:text-5xl uppercase">{t('about.title')}</h2>
            </div>
        

            <div>
                <p class="hidden lg:block font-eye text-3xl">“{t('about.phrase1')}”</p>
                <p class="lg:hidden text-center font-eye text-4xl">“{t('about.phrase2')} <br/>{t('about.phrase3')}”</p>
            </div>

        </div>

        <div class=" flex flex-col gap-20 w-[400px]">
            <p class="text-center md:text-left">
                {t('about.t1')}<br />
                {t('about.t2')}<br />
                {t('about.t3')}<br />
                {t('about.t4')}<br />
                {t('about.t5')}<br />
                {t('about.t6')}
            </p>
            <p class="px-8 text-center md:text-left">
                {t('about.parragraph')}
            </p>
        </div>

    </div>
</section>