<section id="about" class="bg-white h-screen w-screen overflow-hidden flex justify-center">

    <div class="flex flex-col justify-around items-center py-10">

        <div class="flex flex-col lg:flex-row justify-center items-center px-10 lg:gap-60 gap-14 lg:pt-20">

            <div>
                <h2 class="font-semibold text-4xl lg:text-5xl uppercase">About Us</h2>
            </div>
            <div class="flex flex-col gap-10 lg:w-96">
                <p>Jack excel Yeldy powerpoint<br />
                    Jack morning person Yeldy after 10am<br />
                    Jack no bun Yeldy arepa con queso<br />
                    Jack text  Yeldy Videocall<br />
                    Jack rare Yeldy well done<br />
                    Jack Facebook Yeldy Instagram
                </p>
                <p>
                    We love family, traveling, eating, planning, lying on the couch and sharing (well more me than Him but now we are one hahaha 😄)</p>
            </div>
        </div>

        <div>
            <p class="hidden lg:block font-eye text-3xl lg:text-5xl">“We love because God loved us first.”</p>
            <p class="lg:hidden text-center font-eye text-4xl lg:text-5xl">“We love because God <br/>loved us first.”</p>
        </div>

    </div>
</section>