---
---

<section id="dresscode" class="bg-white h-screen w-screen text-center relative overflow-hidden">

	<div class="relative z-30 h-full flex flex-col lg:flex-row lg:gap-16 items-center justify-center">

		<div class="flex flex-col gap-2 text-gray-900 pt-10 justify-center">
			<h2 class="font-playf text-4xl lg:text-6xl">DRESS CODE</h2>
			<p class="text-6xl lg:pt-20 py-10">Semiformal</p>
			<p class="font-eye text-4xl lg:pt-20">Dress your best smile</p>
        </div>

		<div class="lg:w-[500px]">
			<img
				src="./heart.png" 
				alt="Yeldy y Jack" 
				class="object-cover object-center" 
			/>
		</div>

	</div>
	
	<div class="absolute top-16 bottom-16 h-full w-full z-10 opacity-20">
		<img
			src="./mapa.jpg" 
			alt="Yeldy y Jack" 
			class="object-cover object-center w-full h-full" 
		/>
	</div>

</section>