---
---

<section id="dresscode" class="bg-[#2F3B1C] w-screen h-80 flex justify-center items-center">
    <div class="text-center text-white flex flex-col gap-6">
        <h2 class="text-6xl font-playf">Dress Code</h2>
        <p class="text-2xl font-semibold text-[#B2BDA0]">Semiformal</p>

        <h3 class="font-bold">Gentlemen:</h3>
        <h3 class="font-bold">Ladies:</h3>
    </div>
</section>