---
---

<section id="dresscode" class="bg-[#D1BEA6] w-screen h-80 pt-20">
    <div class="text-center text-[#fcf8eb] flex flex-col gap-6">
        <h1 class="text-6xl font-playf">Dress Code</h1>
        <p class="text-2xl font-semibold text-[#733F17]">Semiformal</p>

        <h3 class="font-bold">Gentlemen:</h3>
        <h3 class="font-bold">Ladies:</h3>
    </div>
</section>