---
---

<section id="footer" class="bg-white text-gray-900 py-14 w-screen flex flex-col lg:flex-row lg:gap-96 justify-center items-center gap-10">
    <div>
        <h2 class="text-8xl font-playf ">J&Y</h2>
    </div>
    <div class="px-10 italic flex flex-col gap-5 lg:w-[600px]">
        <p>To do everything beyond what we imagine,
            Through Him in us, be glory in this marriage in Christ for all generations. Amen.</p>
        <p class="text-end">Efesios 3:20-21</p>
    </div>
</section>