---
---

<section id="footer" class="bg-[#D1BEA6] py-40 h-56 w-screen flex flex-col lg:flex-row lg:gap-96 justify-center items-center gap-10">
    <div>
        <h2 class="text-8xl font-playf text-white">J&Y</h2>
    </div>
    <div class="px-10 italic text-[#733F17] flex flex-col gap-5 lg:w-96">
        <p>For we are his workmanship, created in Christ Jesus for good works, which God prepared in advance for us to walk in.</p>
        <p>“We love, because God loved us first”
        </p>
    </div>
</section>