---
---

<section id="footer" class="bg-white text-gray-900 w-screen py-5">
    <div class="flex flex-col justify-center items-center gap-4">
        <img src="/sello.png" alt="sello jack y yeldy" class="w-[130px] h-auto">
        <p class="text-sm"> MADE BY
            <a href="https://neomeisters.com" target="_blank"><b>NEOMEISTERS</b> | 2023</a>
        </p>
    </div>
</section>