---
---

<section id="hero" class="bg-black h-screen w-screen text-center relative overflow-hidde mt-20">

	<div class="relative z-30 h-full flex flex-col items-center justify-end pb-20 lg:pb-10">

		<h2 class="text-white text-6xl lg:text-8xl font-eye">Better Together</h2>
		<p class="font-playf pt-5 text-2xl px-10 text-white text-center">December 15, 2023</p>
	
		<p class="italic pt-10 text-base px-10 text-white lg:w-[830px] text-center">"Better to be two than one, together to grow, help each other, contain each other and defend each other; Even better if there are three with Christ, because a triple cord is not easily cut."</p>

	</div>
	
	<div class="absolute top-16 bottom-0 h-full w-full z-10 opacity-70">
		<img
			src="./foto-main.jpeg" 
			alt="Yeldy y Jack" 
			class="object-cover object-center w-full h-full" 
		/>
	</div>

</section>
