---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="hero" class="bg-black h-screen w-screen text-center relative overflow-hidden flex flex-col justify-center items-center">

	<div class="relative z-30 flex flex-col gap-7 pt-32">
		<h2 class="text-white text-6xl lg:text-9xl font-eye">
			{t('hero.title')}
		</h2>

		<p class="font-semibold uppercase text-2xl text-white">
			{t('hero.date')}
		</p>

		<p class="italic lg:text-xl text-base text-white mx-14">
			"{t('hero.phrase1')}<br class="hidden lg:block"/>{t('hero.phrase2')}"
		</p>
	</div>

	<!-- // background section -->
	
	<div class="absolute top-16 bottom-0 h-full w-full z-10 opacity-70">
		<img
			src="/bg-hero-4.jpg"
			alt="Yeldy y Jack" 
			class="object-cover w-full h-full" 
		/>
	</div>

</section>