---
---

<section id="information" class="bg-[#e3dfd6] w-screen h-80 flex justify-center items-center">

    <div class="text-center text-white flex flex-col lg:flex-row lg:gap-36 gap-6">

        <h2 class="lg:text-4xl text-[30px] font-playf">Additional Information</h2>
        
        <div class="text-lg">
            <p class="text-[20px] font-bold">PARKING</p>
            <p>Price $10</p>
            <p>Cash or Card</p>
        </div>

        <div class="text-lg">
            <p class="text-[20px] font-bold">BOOK HOTEL</p>
            <a 
                href="https://www.hilton.com/en/hotels/fllprht-home2-suites-pompano-beach-pier/"
                target="_blank"
                class="hover:text-[#733F17] transition-colors"
            >
                Web Page
            </a>
        </div>

    </div>

</section>