---
---

<section id="itinerary" class="bg-white h-screen w-screen text-center relative overflow-hidden">

	<div class="relative z-30 h-full flex flex-col lg:flex-row">

		<div class="w-[700px] lg:me-28">
			<img
				src="./foto-itinerary.jpeg" 
				alt="Yeldy y Jack" 
				class="object-cover object-center" 
			/>
		</div>

		<div class="flex flex-col text-gray-900 lg:pt-24">

			<h2 class="font-playf text-4xl lg:text-6xl pb-5">ITINERARY</h2>
			
			<div class="flex justify-center">

				<div class="flex flex-col items-end">

					<svg xmlns="http://www.w3.org/2000/svg" 
						class="icon icon-tabler icon-tabler-confetti me-10 mb-7" 
						width="50" height="50" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M4 5h2"></path>
						<path d="M5 4v2"></path>
						<path d="M11.5 4l-.5 2"></path>
						<path d="M18 5h2"></path>
						<path d="M19 4v2"></path>
						<path d="M15 9l-1 1"></path>
						<path d="M18 13l2 -.5"></path>
						<path d="M18 19h2"></path>
						<path d="M19 18v2"></path>
						<path d="M14 16.518l-6.518 -6.518l-4.39 9.58a1 1 0 0 0 1.329 1.329l9.579 -4.39z"></path>
					</svg>

					<div class="flex flex-col items-end font-bold">
						<p class="pe-5">CEREMONY</p>
						<div class="flex items-center justify-center gap-2">
							<p>4:00 PM</p>
							<hr class="bg-gray-900 w-40 h-[2px]" />
						</div>
					</div>

					<svg xmlns="http://www.w3.org/2000/svg" 
					class="icon icon-tabler icon-tabler-glass-full me-10 mt-4" width="40" height="40" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M8 21l8 0"></path>
						<path d="M12 15l0 6"></path>
						<path d="M17 3l1 7c0 3.012 -2.686 5 -6 5s-6 -1.988 -6 -5l1 -7h10z"></path>
						<path d="M6 10a5 5 0 0 1 6 0a5 5 0 0 0 6 0"></path>
					</svg>

					<div class="flex flex-col items-end font-bold pt-10">
						<p class="pe-5">RECEPTION</p>
						<div class="flex items-center justify-center gap-2">
							<p>6:00 PM</p>
							<hr class="bg-gray-900 w-40 h-[2px]" />
						</div>
					</div>

					<svg xmlns="http://www.w3.org/2000/svg" 
						class="icon icon-tabler icon-tabler-tools-kitchen-2 me-10 mt-4" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M19 3v12h-5c-.023 -3.681 .184 -7.406 5 -12zm0 12v6h-1v-3m-10 -14v17m-3 -17v3a3 3 0 1 0 6 0v-3"></path>
					</svg>

				</div>

				<div class="h-100 flex items-center justify-center">
					<div class="border border-black border-dotted h-full"></div>
				</div>
				
				<div class="flex flex-col">
					<div class="flex flex-col font-bold items-start">
						<p class="ps-5">WELCOME</p>
						<div class="flex items-center justify-center gap-2">
							<hr class="bg-gray-900 w-40 h-[2px]" />
							<p>3:30 PM</p>
						</div>
					</div>

					<svg width="40" height="40" viewBox="0 0 448 447" fill="none" xmlns="http://www.w3.org/2000/svg"
						class="ms-7 mt-5"
					>
						<path d="M111.404 7.66423C101.251 17.8547 101.283 34.3459 111.474 44.4982L112 45.0109L141.347 74.4123C62.6965 77.8918 0 142.757 0 222.266C0 286.342 40.7205 340.908 97.6954 361.497C92.4994 349.342 88.3623 336.635 85.399 323.488C51.5469 302.508 29 265.02 29 222.266C29 156.544 82.2781 103.266 148 103.266C213.722 103.266 267 156.544 267 222.266C267 281.182 224.186 330.097 167.973 339.597C172.514 348.891 178.001 357.66 184.316 365.778C248.496 349.587 296 291.474 296 222.266C296 143.283 234.131 78.7511 156.212 74.4894L157.563 73.134L186.214 44.5353C196.395 34.3722 196.411 17.881 186.248 7.70037C176.086 -2.48127 159.594 -2.49592 149.413 7.66619L148.863 8.21501L148.238 7.59294C138.047 -2.55842 121.556 -2.52717 111.404 7.66423Z" fill="black"/>
						<path d="M135.343 297.035C135.877 238.122 179.134 189.597 235.431 180.608C230.975 171.273 225.567 162.454 219.326 154.28C155.002 169.887 106.972 227.567 106.344 296.772C105.602 378.507 171.259 445.367 252.994 446.11C334.729 446.852 401.589 381.195 402.332 299.459C402.621 267.621 392.835 238.04 375.948 213.744L379.085 213.938L419.483 216.544C433.838 217.47 446.226 206.583 447.152 192.229C448.078 177.873 437.192 165.486 422.837 164.56L422.061 164.509L422.115 163.629C423 149.272 412.079 136.915 397.721 136.029C383.364 135.144 371.007 146.065 370.122 160.423L370.084 161.156L367.409 202.619C351.128 183.359 330.008 168.306 305.904 159.347C310.99 171.548 315.011 184.293 317.855 197.466C351.515 218.752 373.721 256.444 373.333 299.196C372.736 364.915 318.976 417.707 253.257 417.111C187.538 416.514 134.746 362.754 135.343 297.035Z" fill="black"/>
					</svg>

					<div class="flex flex-col font-bold items-start pt-10">
						<p class="ps-5">COCTAIL</p>
						<div class="flex items-center justify-center gap-2">
							<hr class="bg-gray-900 w-40 h-[2px]" />
							<p>5:00 PM</p>
						</div>
					</div>

					<svg xmlns="http://www.w3.org/2000/svg" 
						class="icon icon-tabler icon-tabler-friends ms-7 mt-5" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M7 5m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
						<path d="M5 22v-5l-1 -1v-4a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4l-1 1v5"></path>
						<path d="M17 5m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
						<path d="M15 22v-4h-2l2 -6a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1l2 6h-2v4"></path>
					</svg>

					<div class="flex flex-col font-bold items-start pt-10 pb-10">
						<p class="ps-5">DINNER</p>
						<div class="flex items-center justify-center gap-2">
							<hr class="bg-gray-900 w-40 h-[2px]" />
							<p>8:00 PM</p>
						</div>
					</div>

					
				</div>

			</div>

			<p class="text-lg py-5">THE CEREMONY START 4:00 PM OCLOCK <br/>
				ARRIVE ON TIME AND ENJOY FULL.
			</p>
		</div>
	
	</div>
	
	<div class="absolute top-16 bottom-16 h-full w-full z-10 opacity-20">
		<img
			src="./mapa.jpg" 
			alt="Yeldy y Jack" 
			class="object-cover object-center w-full h-full" 
		/>
	</div>

</section>