---

---

<header id="landing-header" class="py-3 shadow-md px-11 flex items-center fixed top-0 w-full justify-between z-40 text-white bg-[#FAFAFA]">

	<div class="flex flex-grow basis-0 ">
		<a href="/">
			<h1 class="text-gray-700 font-playf text-3xl">J&Y</h1>
		</a>
	</div>

	<nav>
		<ul class="flex text-sm text-gray-700 transition-colors duration-400 [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2">
			<li><a href="#wedding">Our Wedding</a></li>
			<li><a href="#reception">Reception</a></li>
			<li><a href="#reception">Ceremony</a></li>
			<li><a href="#dresscode">Dress Code</a></li>
			<li><a href="#rsvp">RSVP</a></li>
		</ul>
	</nav>

	<nav class="flex flex-grow basis-0 justify-end">
		<ul class="flex text-sm text-gray-700 transition-colors duration-400 [&>li>a]:inline-block [&>li>a]:px-2 [&>li>a]:py-2">
			<li><a href="#">
				<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
					<path d="M18 2a1 1 0 0 1 .993 .883l.007 .117v4a1 1 0 0 1 -.883 .993l-.117 .007h-3v1h3a1 1 0 0 1 .991 1.131l-.02 .112l-1 4a1 1 0 0 1 -.858 .75l-.113 .007h-2v6a1 1 0 0 1 -.883 .993l-.117 .007h-4a1 1 0 0 1 -.993 -.883l-.007 -.117v-6h-2a1 1 0 0 1 -.993 -.883l-.007 -.117v-4a1 1 0 0 1 .883 -.993l.117 -.007h2v-1a6 6 0 0 1 5.775 -5.996l.225 -.004h3z" stroke-width="0" fill="currentColor"></path>
				</svg>
			</a></li>
			<li><a href="#">
				<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
					<path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"></path>
					<path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
					<path d="M16.5 7.5l0 .01"></path>
				</svg>
			</a></li> 
		</ul>
	</nav>

	<div 
		id="menu-backdrop"
		class={`
			absolute 
			bg-[#8dffaf35]  rounded
			translate-x-[var(--left)] translate-y-[var(--top)]
			left-0 top-0
			w-[var(--width)] h-[var(--height)]
			transition-all duration-500
			ease-in-out  opacity-0 -z-10
		`}>
	</div>

</header>

<script>
	const listItem = document.querySelectorAll('#landing-header li')
	const menuBackdrop = document.querySelector('#menu-backdrop') as HTMLElement

	listItem.forEach((item) => {
		item.addEventListener("mouseenter", () => {
			const { left, top, width, height } = item.getBoundingClientRect()

			menuBackdrop.style.setProperty("--left", `${left}px`)
			menuBackdrop.style.setProperty("--top", `${top}px`)
			menuBackdrop.style.setProperty("--width", `${width}px`)
			menuBackdrop.style.setProperty("--height", `${height}px`)
			menuBackdrop.style.opacity = "1"
			menuBackdrop.style.visibility = 'visible'
		})

		item.addEventListener('mouseleave', () => {
			menuBackdrop.style.opacity = "0"
			menuBackdrop.style.visibility = 'hidden'
		})
	})
</script>