---
import { languages } from '../i18n/ui';
---
<ul class="flex gap-3">
    {Object.entries(languages).map(([lang, label]) => (
        <li class="px-3 py-2">
            <a href={`/${lang}/`}>{label}</a>
        </li>
    ))}
</div>