---
---


<section id="reception" class="bg-[#fcf8eb] h-screen w-screen">

    <div class="flex flex-col lg:flex-row items-center justify-around text-[#733F17]">

        <div class="w-80 lg:w-[500px] h-auto relative top-[-100px]">
            <img src="./foto-recp.JPG" alt="jack y yeldy">
        </div>

        <div class="flex flex-col items-center gap-8 mt-[-60px]">
            <h2 class="text-4xl font-playf text-center">Reception</h2>
            <p class="text-2xl font-regular">Friday, December 15 at 6PM</p>

            <h2 class="text-4xl font-playf text-center">Ceremony</h2>
            <p class="text-2xl font-regular">Friday, December 15 at 8PM</p>
            
            <p class="text-lg px-6 text-center font-thin">Home2 Suites By Hilton Pompano Beach Pier, Florida</p>

            <a href="https://maps.app.goo.gl/AxEo6EFnaEGPfp2LA" target="_blank" class="font-semibold border-[3px] border-[#733F17] rounded-full px-6 py-2">
                See the location asd
            </a>
        </div>
    </div>
</section>