---
---


<section id="reception" class="bg-[#EBEFE3] h-screen w-screen">

    <div class="flex flex-col lg:flex-row items-center justify-around text-[#2F3B1C]">

        <div class="w-80 lg:w-[500px] h-auto relative top-[-100px]">
            <img src="./foto-recp.JPG" alt="jack y yeldy">
        </div>

        <div class="flex flex-col items-center gap-6 mt-[-60px]">
            <h2 class="text-4xl font-playf text-center">Ceremony</h2>
            <p class="text-2xl font-regular">Friday, December 15 at 4PM</p>
            
            <h2 class="text-4xl font-playf text-center">Reception</h2>
            <p class="text-2xl font-regular">Friday, December 15 at 6PM</p>

            
            <p class="text-lg px-6 text-center font-thin">Hotel Home2 Suites Pompano Beach
                200 N Ocean Blvd, Pompano Beach, FL, 33062.</p>

            <a 
                href="https://maps.app.goo.gl/AxEo6EFnaEGPfp2LA"
                target="_blank" 
                class="font-semibold border-[3px] border-[#2F3B1C] rounded-full px-6 py-2 transition-colors hover:bg-[#2F3B1C] hover:text-white">
                See the Venue Location
            </a>

            <a 
                href="https://visitingmedia.com/tt8/?ttid=home2-suites-by-hilton-pompano-beach-pier#/360?group=0&tour=1&b11t0=1&a10ph=1&j2ck2=1&i2d0a=1"
                target="_blank"
                class="font-semibold border-[3px] border-[#2F3B1C] rounded-full px-6 py-2 transition-colors hover:bg-[#2F3B1C] hover:text-white">
                See the Venue
            </a>
        </div>

    </div>
</section>