---
---

<section id="rsvp">
    <div class="flex flex-col lg:flex-row-reverse items-center lg:justify-around bg-[#EBEFE3] text-[#2F3B1C] lg:px-8">

        <div class="w-[500px] lg:py-10">
            <img 
                src="./foto-section.jpeg"
                alt=""
                class="object-cover object-center w-full h-full"
            >
        </div>

        <div class="text-center py-10 flex flex-col gap-7 px-10">

            <h2 class="text-4xl font-playf">Getting Ready!</h2>
            <div class="text-lg italic flex flex-col gap-3">
                <p><b>3:30pm</b> Open Door</p>
                <p><b>4:00pm</b> Ceremony</p>
                <p><b>6:00pm</b> Reception</p>
            </div>
            <p class="font-bold">Please confirm your attendance as soon as possible</p>
            <p>WE WILL BE HAPPY TO SEE YOU!</p>
            <a 
                href="https://wa.link/bc29mf"
                target="_blank"
                class="font-semibold border-[3px] border-[#2F3B1C] rounded-full px-6 py-2 transition-colors hover:bg-[#2F3B1C] hover:text-white">
                RSVP
            </a>
        </div>
        
    </div>
</section>