---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="venue" class="bg-black h-screen w-screen text-center relative">

	<div class="relative z-30 h-full flex flex-col items-center justify-center gap-16 lg:gap-10 pt-10">

		<h2 class="text-white text-6xl lg:text-8xl font-eye">{t('venue.title')}</h2>
	
		<p class="italic text-base text-white text-center px-10">Pier 6 Rooftop Hotel Home2 Suites Pompano Beach
            200 N Ocean Blvd, Pompano Beach, FL, 33062.</p>

        <div class="flex lg:flex-row flex-col gap-4 lg:gap-10 ">
            <a 
                href="https://visitingmedia.com/tt8/?ttid=home2-suites-by-hilton-pompano-beach-pier#/360?group=0&tour=1&b11t0=1&a10ph=1&j2ck2=1&i2d0a=1"
                target="_blank"
                class="font-semibold border-[3px] border-white text-white bg-white/5 backdrop-blur-sm rounded-full px-6 py-2 transition-colors hover:bg-white hover:text-gray-900">
                {t('venue.button1')}
            </a>
            <a 
                href="https://maps.app.goo.gl/AxEo6EFnaEGPfp2LA"
                target="_blank" 
                class="font-semibold border-[3px] border-white text-white bg-white/5 backdrop-blur-sm rounded-full px-6 py-2 transition-colors hover:bg-white hover:text-gray-900">
                <div class="flex gap-2">
                    Google Maps
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-google-maps" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 9.5m-2.5 0a2.5 2.5 0 1 0 5 0a2.5 2.5 0 1 0 -5 0"></path>
                        <path d="M6.428 12.494l7.314 -9.252"></path>
                        <path d="M10.002 7.935l-2.937 -2.545"></path>
                        <path d="M17.693 6.593l-8.336 9.979"></path>
                        <path d="M17.591 6.376c.472 .907 .715 1.914 .709 2.935a7.263 7.263 0 0 1 -.72 3.18a19.085 19.085 0 0 1 -2.089 3c-.784 .933 -1.49 1.93 -2.11 2.98c-.314 .62 -.568 1.27 -.757 1.938c-.121 .36 -.277 .591 -.622 .591c-.315 0 -.463 -.136 -.626 -.593a10.595 10.595 0 0 0 -.779 -1.978a18.18 18.18 0 0 0 -1.423 -2.091c-.877 -1.184 -2.179 -2.535 -2.853 -4.071a7.077 7.077 0 0 1 -.621 -2.967a6.226 6.226 0 0 1 1.476 -4.055a6.25 6.25 0 0 1 4.811 -2.245a6.462 6.462 0 0 1 1.918 .284a6.255 6.255 0 0 1 3.686 3.092z"></path>
                    </svg>
                </div>
            </a>
        </div>

        <div class="flex flex-col lg:flex-row justify-center text-white gap-4 lg:gap-20">
            <div>
                <p class="text-[20px] font-bold">{t('venue.park')}</p>
                <p>{t('venue.price')}</p>
                <p>{t('venue.pay')}</p>
            </div>
    
            <div>
                <p class="text-[20px] font-bold">{t('venue.book')}</p>
                <a 
                    href="https://www.hilton.com/en/hotels/fllprht-home2-suites-pompano-beach-pier/"
                    target="_blank"
                    class="hover:text-gray-300 transition-colors"
                >
                    {t('venue.web')}
                </a>
            </div>
        </div>

	</div>
	

	<div class="absolute top-0 bottom-0 h-full w-full z-10 opacity-70">
        <video
            class="hidden md:block object-center object-cover h-full w-full"
            src="/rooftop.mp4"
            autoplay muted loop playsinline>
        </video>
		<img
			src="/rooftop.jpg" 
			alt="Yeldy y Jack" 
			class="md:hidden object-cover object-center w-full h-full" 
		/>
	</div>

</section>