---
---


<section id="wedding" class="bg-[#D1BEA6] h-screen w-screen">
	<div class="flex flex-col lg:flex-row lg:justify-between lg:px-20 items-center pt-24 lg:pt-40 gap-16 text-white">

		<div class="flex flex-col items-center gap-3">
			<h2 class="font-playf text-4xl lg:text-6xl">Our Wedding</h2>
			<p class="text-2xl font-medium">Friday, December 15, 2023</p>
		</div>

		<div>
			<svg width="100" height="100" viewBox="0 0 448 447" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M111.404 7.66423C101.251 17.8547 101.283 34.3459 111.474 44.4982L112 45.0109L141.347 74.4123C62.6965 77.8918 0 142.757 0 222.266C0 286.342 40.7205 340.908 97.6954 361.497C92.4994 349.342 88.3623 336.635 85.399 323.488C51.5469 302.508 29 265.02 29 222.266C29 156.544 82.2781 103.266 148 103.266C213.722 103.266 267 156.544 267 222.266C267 281.182 224.186 330.097 167.973 339.597C172.514 348.891 178.001 357.66 184.316 365.778C248.496 349.587 296 291.474 296 222.266C296 143.283 234.131 78.7511 156.212 74.4894L157.563 73.134L186.214 44.5353C196.395 34.3722 196.411 17.881 186.248 7.70037C176.086 -2.48127 159.594 -2.49592 149.413 7.66619L148.863 8.21501L148.238 7.59294C138.047 -2.55842 121.556 -2.52717 111.404 7.66423Z" fill="white"/>
					<path d="M135.343 297.035C135.877 238.122 179.134 189.597 235.431 180.608C230.975 171.273 225.567 162.454 219.326 154.28C155.002 169.887 106.972 227.567 106.344 296.772C105.602 378.507 171.259 445.367 252.994 446.11C334.729 446.852 401.589 381.195 402.332 299.459C402.621 267.621 392.835 238.04 375.948 213.744L379.085 213.938L419.483 216.544C433.838 217.47 446.226 206.583 447.152 192.229C448.078 177.873 437.192 165.486 422.837 164.56L422.061 164.509L422.115 163.629C423 149.272 412.079 136.915 397.721 136.029C383.364 135.144 371.007 146.065 370.122 160.423L370.084 161.156L367.409 202.619C351.128 183.359 330.008 168.306 305.904 159.347C310.99 171.548 315.011 184.293 317.855 197.466C351.515 218.752 373.721 256.444 373.333 299.196C372.736 364.915 318.976 417.707 253.257 417.111C187.538 416.514 134.746 362.754 135.343 297.035Z" fill="white"/>
			</svg>
		</div>

		<p class="px-6 text-xl text-center lg:w-96">
			We are happy to invite you to celebrate with us a day full of love where we will celebrate our union. We know that your company will fill us with joy and will come with the best wishes.
		</p>

	</div>
</section>

