---
---

<section id="wedding" class="bg-white pt-28 h-screen w-screen text-center relative overflow-hidden">

	<div class="relative z-30 h-full flex flex-col-reverse lg:flex-row items-center">

		<div class="flex flex-col gap-5 text-gray-900 pt-10">
			<h2 class="font-playf text-4xl lg:text-6xl">OUR WEDDING</h2>
			<p class="lg:px-28 px-10">We are happy to invite you to celebrate with us a day full of love where we will celebrate our union. We know that your company will fill us with joy and will come with the best wishes.</p>
			<div class="flex flex-col items-center justify-center gap-y-4 text-gray-900">
				<div class="flex justify-center items-center lg:gap-x-10 gap-7 font-playf text-xl">
					<p class="day"></p>:
					<p class="hour"></p>:
					<p class="min"></p>:
					<p class="sec"></p>
				</div>
				<div class="flex font-playf text-xl lg:gap-x-14 gap-x-10">
					<p>Days</p>
					<p>Hours</p>
					<p>Min</p>
					<p>Sec</p>
				</div>
			</div>
			<p class="font-eye text-4xl lg:pt-10 pb-10">The adventure begining...</p>
		</div>


		<div class="flex flex-col gap-10 text-gray-900">
			<img
				src="./foto-wedding.jpeg" 
				alt="Yeldy y Jack" 
				class="object-cover object-center w-full h-full" 
			/>
		</div>
	
	</div>
	
	<div class="absolute top-16 bottom-16 h-full w-full z-10 opacity-20">
		<img
			src="./mapa.jpg" 
			alt="Yeldy y Jack" 
			class="object-cover object-center w-full h-full" 
		/>
	</div>

</section>

<script>
	function actualizarContador() {
// Fecha objetivo
	const fechaObjetivo = new Date("2023-12-15T23:59:59");

	// Fecha actual
	const fechaActual = new Date();

	// Diferencia en milisegundos entre las fechas
	const diferencia = fechaObjetivo - fechaActual;

	// Cálculos para obtener los días, horas, minutos y segundos restantes
	const dias = Math.floor(diferencia / (1000 * 60 * 60 * 24));
	const horas = Math.floor((diferencia % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
	const minutos = Math.floor((diferencia % (1000 * 60 * 60)) / (1000 * 60));
	const segundos = Math.floor((diferencia % (1000 * 60)) / 1000);

	// Actualizar el contenido del contador
	document.querySelector(".day").innerHTML = `${dias}`;
	document.querySelector(".hour").innerHTML = `${horas}`;
	document.querySelector(".min").innerHTML = `${minutos}`;
	document.querySelector(".sec").innerHTML = `${segundos}`;

	// Actualizar cada segundo
	setTimeout(actualizarContador, 1000);
}

actualizarContador();

</script>

