---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/Rings.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	@font-face {
		font-family: 'Eyesome Script';
		src: url('./src/fonts/eyesome-script.otf') format('opentype');
	}
	@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
</style>
